:root {
  --light-color       : white;
  --primary-color     : #f58220;
  --secondary-color   : #256183;
  --info-color        : rgba(0, 102, 179, 0.5);
  --dark-color        : black;
  --bg-color1         : rgba(0, 0, 0, 0.67);
  --twitter-color     : #1da1f2;
  --fb-color          : #3b5a9a;
  --pin-interest-color: #cc1f26;
  --insta-color       : #3f6d90;
  --linkedin-color    : #007bb7;
  --youtube-color     : #f12425;
  --grey              : #999999;
}

* {
  box-sizing: border-box;
}

.highlight {
  color: var(--primary-color);
}

.container-fluid {
  overflow-x: hidden;
}

ul li {
  list-style-type: none;
}

.navbar-nav .nav-item .nav-link {
  color: var(--light-color);
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: var(--light-color);
  color           : var(--primary-color);
}

.card-info {
  background-color: var(--info-color);
  color           : var(--light-color);
}

.btn {
  border-color : var(--light-color);
  color        : var(--light-color);
  border-radius: 0;
}

#section1 {
  background-image : url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  height           : 90vh;
  display          : flex;
  align-items      : center;
}

.carousel-inner .carousel-item {
  background-color: var(--bg-color1);
  color           : var(--light-color);
  padding         : 2rem;
}

.banner2 {
  background-image : url(../images/banner2.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
}

.banner3 {
  background-image : url(../images/banner3.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
}

.card {
  border       : none;
  border-radius: 0;
}

.carousel-control-next,
.carousel-control-prev {
  top   : unset;
  bottom: 10px;
}

.carousel-control-prev {
  right: 2rem !important;
  left : unset;
}

.jumbotron {
  background-color: transparent;
  padding         : 1rem;
  margin-bottom   : 0;
}

#section3 {
  background-image: linear-gradient(to right, #c2216d, #6834b2);
  color           : white;
}

#section4 {
  padding         : 3rem;
  background-color: var(--secondary-color);
}

.item {
  width      : 200px;
  height     : 200px;
  margin     : 50px auto;
  padding-top: 75px;
  background : #ccc;
  text-align : center;
  color      : #FFF;
  font-size  : 3em;
}

#section5 {
  position: relative;
  height  : 100vh;
  padding : 3rem;
}

#section5 {
  background-image   : url(../images/banner7.jpg);
  height             : 100%;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}

#section5 .bg-content {
  color     : white;
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  z-index   : 2;
  width     : 80%;
  padding   : 20px;
  text-align: center;
}

sub {
  bottom: 0;
}

.card-footer {
  background-color: transparent;
  border          : none;
}

.card-body {
  padding: 1rem;
}

.fa-twitter {
  color: var(--twitter-color);
}

.fa-facebook {
  color: var(--fb-color);
}

.fa-linkedin {
  color: var(--linkedin-color);
}

.fa-pinterest {
  color: var(--pin-interest-color);
}

.fa-instagram {
  color: var(--insta-color);
}

.fa-youtube {
  color: var(--youtube-color);
}

.link {
  color: var(--twitter-color);
}

footer,
#section6 {
  background-color: var(--dark-color);
}

#section6 {
  padding: 3rem;
  color  : var(--light-color);
}

#section6 h6 {
  font-size  : 0.85rem;
  font-weight: bold;
}

#section6 li a {
  color : var(--grey);
  cursor: pointer;
  font-size:0.75rem;
}

#section6 li a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

#section6 ul {
  padding-inline-start: 0px;
}

.nav-subitem {
  display         : none;
  position        : absolute;
  background-color: #f1f1f1;
  min-width       : 160px;
  box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index         : 1;
  left            : 15%;
  border-bottom   : 5px solid #0066B3;
  padding         : 1rem;
}

.nav-subitem li a {
  color: black;
}

.nav-subitem li a:hover {
  color: var(--primary-color);
}

.nav-item:hover .nav-subitem {
  display: block;
}